body {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #121F26;
  position: relative;
}

body .wrapper {
  margin: 1px;
}

body .col* {
  padding: 0;
}

body #scroll-btn {
  position: fixed;
  bottom: 5%;
  right: 11%;
  background-color: #1FA184;
  padding: 2px;
  width: 35px;
  text-align: center;
  opacity: 0.5;
}

body a {
  text-decoration: none;
  color: white;
}

body header {
  font-size: 1.3em;
  text-align: center;
  padding: 20px;
}

body i, body img {
  cursor: pointer;
}

body i:hover, body .nav-icon:hover {
  -webkit-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

body #main-content {
  padding-right: 15px;
}

body #main-content p, body #main-content table {
  text-align: left;
  font-size: 0.8em;
}

body #main-content p th, body #main-content p td, body #main-content table th, body #main-content table td {
  padding: 5px;
}

body #main-content section {
  margin: 0px 0px 5px 0px;
  padding: 15px;
}

body #main-content section .language {
  font-size: 0.8em;
  text-align: left;
  padding-top: 28px;
}

body #main-content section .language .lang-lvl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body #main-content section .language .lang-lvl .lvl-box {
  height: 20px;
  width: 20px;
  border: 1px solid #1FA184;
  margin: 0 5px;
  border-radius: 50%;
}

body #main-content section .language .lang-lvl .lvl-acquired {
  background-color: #1FA184;
}

body #main-content section .language .lang-lvl .lang-description {
  color: grey;
  font-size: 0.8em;
}

body #main-content section .skills-section {
  padding: 5px;
}

body #main-content section .skills-section .progress-card {
  font-size: 0.8em;
  text-align: center;
  position: relative;
}

body #main-content section .skills-section .progress-card .progress-animation {
  position: relative;
}

body #main-content section .skills-section .progress-card .progress-number {
  position: absolute;
  top: 30%;
  left: 43%;
  font-size: 0.7em;
}

body #main-content section .universal-box {
  text-align: left;
  padding-top: 10px;
}

body #main-content section .universal-box h3 {
  font-size: 1.2em;
}

body #main-content section .universal-box h4 {
  color: grey;
  font-size: 0.9em;
}

body #main-content section .universal-box .work-info {
  border-left: 3px solid #1FA184;
}

body #main-content section .universal-box .work-info .dummy-text {
  color: #313C42;
}

body #main-content section .universal-box .time-box {
  min-width: 30%;
}

body #main-content section .universal-box .time-box .time-unit {
  font-size: 0.8em;
  text-align: center;
  background-color: #1FA184;
  padding: 5px;
  max-width: 70%;
  margin: 0 auto;
  border-radius: 15px;
}

body #main-content h2 {
  color: grey;
  font-size: 1.2em;
  text-align: left;
  padding-left: 5px;
}

body section {
  background-color: #313C42;
  position: relative;
  text-align: center;
}

body .btn-section {
  padding: 15px;
}

body .btn-section #dowload-cv-btn {
  background-color: #DEC746;
  color: black;
  border-radius: 35px;
  width: 70%;
  margin: 0 auto;
}

body .btn-section #dowload-cv-btn:hover {
  cursor: pointer;
  background-color: #f7d518;
}

body aside {
  background-color: #1FA184;
  margin-bottom: 5px;
}

body nav {
  background-color: black;
  text-align: center;
  padding: 10px 0px;
}

body nav .nav-icon {
  position: relative;
  padding: 5px;
}

body nav .nav-icon img {
  border-radius: 50%;
}

body #card {
  position: relative;
  text-align: center;
  display: block;
}

body #card div {
  padding: 10px;
}

body #card div p {
  margin: 0;
}

body #card div i {
  padding: 0px 10px;
  font-size: 1.2em;
}

body #card div p {
  color: #d0caca;
}

body #card #card-avatar {
  position: relative;
}

body #card #card-avatar img {
  border-radius: 50%;
  width: 169px;
  height: 189px;
}
/*# sourceMappingURL=style.css.map */