$fontColor1: white;
$fontColor2: grey;
$backg-color1: #313C42;
$backg-color2: #1FA184;
$nav-backg-color: black;
$btn-background-color: #DEC746;


body{
    margin: 0;
    padding: 0;
    font-size: 20px;
    color: $fontColor1;
    box-sizing: border-box;
    background-color: #121F26;
    position: relative;
    
    #navigation-horizontal{
        display: none;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav-icon{
            padding: 10px 20px;
        }
        i{
            font-size: 1.5em;
        }
    }

    
    #scroll-btn{
        position: fixed;
        bottom: 5%;
        right: 10vw;
        background-color: $backg-color2;
        padding: 2px;
        width: 35px;
        text-align: center;
        opacity: 0.5;
        display: none;
        border-radius: 10px;
    }

    a{
        text-decoration: none;
        color: $fontColor1;
    }

    header{
        font-size: 1.3em;
        text-align: center;
        padding: 15px;
    }

    i,img{
        cursor: pointer;
    }
    i:hover, .nav-icon:hover{
            transform: scale(1.2,1.2);
    }
    #main-content{
        padding-left: 30px;
        p,table{
            text-align: left;
            font-size: 0.8em;
            th,td{
                padding: 5px;
            }
        }
        
        section{
            margin-bottom: 6px;
            margin-right: 1px;
            padding: 15px;
            p{
                text-align: justify;
            }
            em{
                text-align: right;
            }
            #language-skills{
                .language{
                    font-size: 0.8em;
                    text-align: left;
                    padding: 10px 5px;
                    .lang-lvl{
                        display: flex;
                        align-items: center;
                        .lvl-box{
                            height: 20px;
                            width:  20px;
                            border: 1px solid $backg-color2;
                            margin: 0 5px;
                            border-radius: 50%;
                        }
                        .lvl-acquired{
                            background-color: $backg-color2;
                        }
                        .lang-description{
                            color: $fontColor2;
                            font-size: 0.8em;
                        }
                    }
                }
            }
            .skills-section{
                // padding: 5px;
                .progress-card{
                    font-size: 0.8em;
                    text-align: center;
                    position: relative;
                    .progress-animation{
                        position: relative;
                    }
                    .progress-number{
                        position: absolute;
                        top: 30%;
                        left: 43%;
                        font-size: 0.7em;
                    }
                }
            }
                .universal-box{
                    h3{
                        font-size: 1.2em;
                    }
                    h4{
                        color: $fontColor2;
                        font-size: 0.9em;
                    }
                    text-align: left;
                    padding-top: 10px;
                    .work-info{
                        border-left: 3px solid $backg-color2;
                        .dummy-text{
                            color: $backg-color1;
                        }
                    }
                    .time-box{
                        min-width: 30%;
                        .time-unit{
                            font-size: 0.8em;
                            text-align: center;
                            background-color: $backg-color2;
                            padding: 2px;
                            max-width: 70%;
                            margin: 0 auto;
                            border-radius: 15px;
                        }
                    }
                }
        }
        h2{
            color: $fontColor2;
            font-size: 1.2em;
            text-align: center;
            
        }
    }
    
    section{
        background-color: $backg-color1;
        position: relative;
        text-align: center;
        .interests{
            color: $backg-color2;
        }
        .interests-desc{
            font-size: 0.8em;
        }
    }
    .btn-section{
        padding: 15px;
        #dowload-cv-btn{
            background-color: $btn-background-color;
            color: black;
            border-radius: 35px;
            width: 70%;
            margin: 0 auto;
            padding: 5px;

        }
        #dowload-cv-btn:hover{
            cursor: pointer;
            background-color: #f7d518;
        }
    }
    aside{
        background-color: $backg-color2;
        margin-bottom: 5px;
    }
    nav{
        position: relative;
        display: none;
        background-color: $nav-backg-color;
        text-align: center;
        padding: 10px 0px;
        margin-bottom: 5px;
        .nav-icon{
            position: relative;
            padding: 5px;
            
            img{
                border-radius: 50%;
            }
        }   
    }
    
    #card{
        position: relative;
        text-align: center;
        display: block;
        div{
            // padding: 10px;
            i{
                padding: 0px 10px;
                font-size: 1.2em;
                
            }
            p{
                color: #d0caca;
            }
        }

        #card-avatar{
            position: relative;
            padding: 10px 0;
            img{
                border-radius: 50%;
                width: 169px;
                height: 189px;
            }
        }
        #card-info{
            padding-bottom: 10px;
        }
    }

}